* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    margin-top: 50px;
    background-color: #253140;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(50px, 1000px, 50px);
  }

  button {
    background-color: #369C55;
    border: 0px;
    color: white;
  }

  p {
    width: 1800px;
    color: white;
  }

  header {
    width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }

  nav {
    height: 700px;
  }

  hr {
    width: 1800px;
  }

  .developer {
    margin-top: 5px;
    text-align: right;
  }

  .make {
    height: 30px;
    width: 150px;
  }